# PANDAS 1

In [1]:
import pandas as pd
import numpy as np

In [4]:
##PLaying with dataframe
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["column1","column2","column3","column4"])

In [5]:
df.head()

      column1  column2  column3  column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
##Accessing the elements-there are two ways
## 1.loc 2. iloc
df.loc['Row1']

column1    0
column2    1
column3    2
column4    3
Name: Row1, dtype: int32

In [7]:
#to know the type
type(df.loc['Row1'])

pandas.core.series.Series

In [8]:
df.iloc[0:2,0:2]

      column1  column2
Row1        0        1
Row2        4        5

In [9]:
#convert dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [11]:
 #to check if there are null values in the dataset
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [13]:
#to check for unique values
df['column1'].value_counts()

0     1
8     1
4     1
16    1
12    1
Name: column1, dtype: int64

In [14]:
#apart from loc and iloc we can also get column names by simply putting them in a list
df[['column3','column4']]

      column3  column4
Row1        2        3
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19

In [2]:
df=pd.read_csv('mercedesbenz.csv')

NameError: name 'pd' is not defined